p, h1, h2, h3, h4, h5, h6 a, li, tr {
  color: rgb(0, 0, 0);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: rgb(0, 0, 0) !important;
}

body {
  background-color: var(--bg-color2) !important;
  font-family: "Montserrat", sans-serif !important;
}
body h2, body h5, body h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 a, li, tr{
  color: var(--text);
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
  color: var(--text) !important;
}

.nav-link {
  margin: 5px;
  color: var(--text) !important;
  border-bottom: var(--text) 1px solid;
  font-size: 1.1rem !important;
}
.nav-link:hover {
  border-bottom: none;
}

section {
  padding: 150px 0;
}

.about-me__parth, .for-kids, .how-we-work, .schedule, .blog {
  background-color: var(--light-dark);
}

.materials {
  background-color: var(--light-dark);
}

.for-kids i {
  font-size: 3.6rem;
  color: var(--orange);
}
.for-kids h5 {
  text-decoration: underline;
}
.for-kids .for-kids__row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.call-me {
  padding: 70px 0;
}
.call-me .call-me__btn {
  background-color: var(--orange) !important;
  color: var(--light-dark) !important;
  border-radius: 30px !important;
  --bs-btn-padding-y: 0.8rem!important;
}

footer {
  padding: 40px;
}
footer h5 {
  color: #848484;
}
footer img {
  max-width: 200px !important;
}
footer a {
  color: var(--text);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: var(--text);
}